* {
	box-sizing: border-box;

}
body{
margin: auto;
text-align: center;
font-family: 'Comfortaa', cursive;
}
ul, li {
  padding: 0px;
  list-style: none;
}
.container{
  width: 65%;
  padding: 5%;
  margin: auto;
}
.lobby{
  margin-top: 5%;
}
.pinned{
  border-bottom: 1px solid gray;
}
.important {
  color: red;
}
#nameInput{
  width: 160px;
  height: 30px;
  font-size: 20px;
}
#gameList{
  border-top: 1px solid gray;
  padding: 10px;  
  padding-top: 0px;
}
#gameList li {
	border-bottom: 1px solid gray;
  padding: 10px;
}
#gameList li:hover {
  background-color: #04bfcc;
  color: #FFFFFF;
}
#gameMessages {
  overflow-y: scroll;
  max-height: 150px;
}
#scores{
  font-size: 20px;
}
.hide{
  display: none;
}
canvas{
  background-color: #006994;
}
button {
  background: #3498db;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #04bfcc;
  text-decoration: none;
}
